<div class="jumbotron">
  <div class="container">
    <!--
    <ul class="alphabet">
      <li ng-repeat="char in alphabet">
        <span ng-click="filterByAlphabet(char)">{{char}}</span>
      </li>
    </ul>
    <ul class="genres">
      <li ng-repeat="genre in genres">
        <span ng-click="filterByGenre(genre)">{{genre}}</span>
      </li>
    </ul>
    -->
    <!-- Insert latest ongoing quiz statistics here -->
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{headingTitle}}
      <div class="pull-right">
        <input class="search" type="text" ng-model="query._id" placeholder="Search...">
      </div>
    </div>
    <div class="panel-body">
      <div class="row quiz-list"><!--was row show-list-->
        <div class="col-xs-4 col-md-3" ng-repeat="quiz in quizzes | filter:query | orderBy:'_id':true">
          <a href="/quizzes/{{quiz._id}}">
            {{""}}<!--<img class="img-rounded" ng-src="{{quiz.poster}}" width="100%"/>-->
          </a>
          <div class="text-center">
            <a href="/quizzes/{{quiz._id}}">{{quiz._id}}</a>
            <p class="text-muted">{{quiz.questions.length}} Questions | {{quiz.status}}</p>
            <p class="text-muted">{{quiz.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
