<!--
  Objective of this page is to depict the quiz in progress.
  Will do real time data analysis for PHUN!
-->

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media">
        <div class="media-body">
          <h2 class="media-heading">{{quiz._id}}</h2>
          <h3>{{quiz.description}} | {{quiz.status}}</h3>
          <h4>Question {{currentQn._id}} | {{currentQn.content}} <div class="pull-right"> Time Remaining | {{localQuizState.countdownTimer}}</div></h4>
          <ol>
            <li ng-repeat="answers in currentQn.possibleAnswers"> {{answers}}</li>
            <!-- team statistics for good measure here http://d3js.org/ -->
            <!-- statistics for good measure here -->
          </ol>
          <h5>BLAH</h5>
          <div class="question" ng-repeat="team in localQuizState.answersRead | orderBy : 'teamNumber' : false">
            <h5>{{team.teamNumber}}: {{team._id}} <div class="pull-right"> {{team.answered}} | {{team.answerNumber}}</div></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
