export PATH=/usr/local/bin:/usr/local/share/python:$PATH
export PYTHONPATH="/usr/local/lib/python2.7/site-packages:$PYTHONPATH"
export HOMEBREW_GITHUB_API_TOKEN=9eeef0eb8e3d167d168deca07d2cfd98c1048353

##Alias


## other stuff
command cowsay $(fortune)
export EDITOR=vim
#tmuxinator
source ~/.bin/tmuxinator.bash